body {
    background-image: linear-gradient(
        180deg,
        #6495ED 5%,
        #00FFFF 20%,
        #008B8B 60%,
        #00CED1 95%
    );
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    height: 300px;
    width: 300px;
}

li {
    list-style-type: none;
    align-items: baseline;
}

p {
    display: inline;
    color: white;
    font-weight: bold;
}

#botao {
    display: grid;
    margin: auto;
}